header {
    background-color: grey;
    border-style: solid;
    border-radius: 2px;
    margin: 5px;
}

header > * {
    padding: 8px;
}

#biography {
    background-color: grey;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image {
    width: 100%;
    max-width: 642px;
    height: auto;
    margin: auto;
}