/**
* Colors
*
* #D1CCDC
* #424C55
* #F5EDF0
* #886F68
* #3D2C2E
*/

body {
    background-color: #424C55;
    color: #D1CCDC;
    padding: 0px;
    margin: 0px;
}

p {
    font-size: 24px;
}

header {
    margin: 5px;
}

header > * {
    padding: 8px;
}

h2 {
    font-size: 26px;
    font-style: italic;
}

footer {
    background-color: #3D2C2E;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border-top: solid;
    border-color: #F5EDF0;
}

footer > p {
    font-size: 14px;
}

.vertical-text-align {
    text-align: center;
}

.align-left {
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 50px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

.double-row {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.row {
    grid-row: 1;
}

.full-width {
    grid-column: span 12;
}

.three-wide {
    grid-column: span 4;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image {
    width: 100%;
    max-width: 642px;
    height: auto;
    margin: auto;
}

#jp-descriptors {
    font-size: 42px;
}

#title {
    font-size: 64px;
}